.inquiry__mt {
  margin-top: 60px;
}

.inquiry__mb {
  margin-bottom: 80px;
}

.page_inquiry {
  padding-top: 0;
}
.page_inquiry .inquiry_box {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box {
    margin-top: 10.6666666667vw;
  }
}
.page_inquiry .inquiry_box .inquiry_title {
  margin-top: 80px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_title {
    margin-top: 6.4vw;
  }
}
.page_inquiry .inquiry_box .inquiry_title h2 {
  font-size: 36px;
  font-weight: bold;
}
.page_inquiry .inquiry_box .inquiry_title h2 span {
  font-weight: normal;
  font-size: 24px;
  display: block;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_title h2 {
    font-size: 5.7333333333vw;
  }
  .page_inquiry .inquiry_box .inquiry_title h2 span {
    font-size: 3.7333333333vw;
  }
}
.page_inquiry .inquiry_box .inquiry_title p {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_title p {
    font-size: 3.2vw;
    margin-top: 4vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form {
  padding: 0 50px 50px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form {
    margin-top: 5.3333333333vw;
    padding: 5.3333333333vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .confirm-text {
  font-size: 16px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .confirm-text {
    font-size: 3.4666666667vw;
    margin-bottom: 9.3333333333vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .thanks_box {
  border: 1px solid rgb(212, 212, 212);
  padding: 30px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .thanks_box {
    padding: 5.3333333333vw 0;
  }
}
.page_inquiry .inquiry_box .inquiry_form .thanks_box h3 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .thanks_box h3 {
    font-size: 4vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .thanks_box p {
  line-height: 1.625;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .thanks_box p {
    margin-top: 4vw;
    font-size: 3.2vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.page_inquiry .inquiry_box .inquiry_form .form .block:first-child {
  border-top: 1px solid rgb(212, 212, 212);
}
.page_inquiry .inquiry_box .inquiry_form .form .block .title {
  padding: 28px 20px;
  width: 250px;
  border-bottom: 1px solid rgb(212, 212, 212);
  border-left: 1px solid rgb(212, 212, 212);
  background-color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .title {
    padding: 5.2vw 0 5.2vw 3.2vw;
    width: 36vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .title p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .title p {
    font-size: 3.2vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .title span {
  font-size: 14px;
  color: red;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .title span {
    display: inline-block;
    font-size: 2.6666666667vw;
    margin-top: 1.3333333333vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box {
  width: 100%;
  padding: 16px;
  background-color: #fff;
  border-left: 1px solid rgb(212, 212, 212);
  border-right: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .box {
    padding: 2.6666666667vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box input {
  display: block;
  width: 100%;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #eee;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .box input {
    font-size: 3.2vw;
    padding: 2.6666666667vw;
    border-radius: 0.8vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box .select {
  position: relative;
  width: 300px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .box .select {
    width: 100%;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box .select::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 16px;
  right: 25px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .box .select::before {
    width: 1.8666666667vw;
    height: 1.8666666667vw;
    right: 4.6666666667vw;
    top: 2.6666666667vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box .select select {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  padding: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  background-color: rgb(153, 153, 153);
  border: unset;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .box .select select {
    font-size: 3.2vw;
    padding: 2.4vw;
    border-radius: 0.8vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box textarea {
  display: block;
  width: 100%;
  padding: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #eee;
  margin-top: 20px;
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box-select .select {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 6px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .block .box-select .select {
    margin-bottom: 4vw;
    padding: 1.8666666667vw;
    border-radius: 1.0666666667vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .block .box-select .select::before {
  content: none;
}
.page_inquiry .inquiry_box .inquiry_form .form .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .form .btn-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page_inquiry .inquiry_box .inquiry_form .form .btn-box .btn_wrap01 {
  margin-left: 20px;
  margin-right: 20px;
}
.page_inquiry .inquiry_box .inquiry_form .inquiry_form_privacypolicy {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .inquiry_form_privacypolicy {
    margin-top: 5.3333333333vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .inquiry_form_privacypolicy .text-scroll {
  width: 100%;
  border: 1px solid rgb(212, 212, 212);
  overflow: scroll;
  height: 210px;
  padding: 26px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .inquiry_form_privacypolicy .text-scroll {
    height: 37.3333333333vw;
    padding: 4.5333333333vw;
    margin-bottom: 5.3333333333vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .inquiry_form_privacypolicy .text-scroll p {
  line-height: 1.625;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry_box .inquiry_form .inquiry_form_privacypolicy .text-scroll p {
    font-size: 3.2vw;
  }
}
.page_inquiry .inquiry_box .inquiry_form .inquiry_form_privacypolicy label {
  display: block;
  text-align: center;
}
.page_inquiry .inquiry_box .inquiry_form .inquiry_form_privacypolicy label span {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
  margin-left: 6px;
  display: inline-block;
}
.page_inquiry .inquiry_box .inquiry_form .btn_wrap01 {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .confirm-btn .btn_wrap01:last-child {
    margin-top: 4vw;
  }
}
.page_inquiry .inquiry__bottom {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry__bottom {
    margin-top: 10.6666666667vw;
  }
}
.page_inquiry .inquiry__bottom .tel-box {
  padding: 50px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry__bottom .tel-box {
    margin-top: 5.3333333333vw;
    padding: 5.3333333333vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.page_inquiry .inquiry__bottom .tel-box a {
  display: block;
  width: calc(50% - 15px);
  text-align: center;
  padding: 20px;
  background-color: rgb(211, 211, 211);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry__bottom .tel-box a {
    width: 100%;
    padding: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry__bottom .tel-box a:nth-child(2) {
    margin-top: 4vw;
  }
}
.page_inquiry .inquiry__bottom .tel-box a:nth-child(3), .page_inquiry .inquiry__bottom .tel-box a:nth-child(4) {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry__bottom .tel-box a:nth-child(3), .page_inquiry .inquiry__bottom .tel-box a:nth-child(4) {
    margin-top: 4vw;
  }
}
.page_inquiry .inquiry__bottom .tel-box a .text {
  line-height: 1.5;
  margin-top: 0;
}
@media screen and (max-width: 1000px) {
  .page_inquiry .inquiry__bottom .tel-box a .text {
    font-style: 14px;
  }
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry__bottom .tel-box a .text {
    font-size: 3.4666666667vw;
    margin-bottom: 2.6666666667vw;
  }
}
.page_inquiry .inquiry__bottom .tel-box a .tel {
  font-size: 32px;
  font-weight: bold;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .page_inquiry .inquiry__bottom .tel-box a .tel {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry__bottom .tel-box a .tel {
    font-size: 6.4vw;
    margin-top: 0;
  }
}
.page_inquiry .inquiry__bottom .tel-box a .tel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-image: url(../img/inquiry/tel.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1000px) {
  .page_inquiry .inquiry__bottom .tel-box a .tel::before {
    left: -30px;
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .page_inquiry .inquiry__bottom .tel-box a .tel::before {
    left: -7.4666666667vw;
    width: 5.3333333333vw;
    height: 5.3333333333vw;
    top: 51%;
  }
}/*# sourceMappingURL=inquiry.css.map */