@charset "utf-8";

$fontColor: #222222;
$sub1: #003798;
$break: 750;

//------------------------------------------------------------
//mediaquery
//------------------------------------------------------------
$breakpoints: (
  "sp": "screen and (max-width: 768px)",
  "pc": "screen and (min-width: 769px)",
  "tab": "screen and (max-width:1000px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function vw($px, $viewport: null) {
  @if $viewport == null {
    $viewport: $break;
  }
  @return $px / $viewport * 100vw;
}

/* -----------------------------------------------------
	btn
----------------------------------------------------- */
.btn {
  position: relative;
  display: block;
  border-radius: 100vh;
  text-align: center;
  line-height: 1;
  width: 100%;
  span {
    display: inline-block;
    font-weight: 700;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.2s ease;
  }
  &.type {
    &-01 {
      padding: 24px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(37) 0;
      }
      span {
        font-size: 1.7rem;
        @include mq() {
          font-size: 2.9333333333vw;
        }
      }
      &::after {
        width: 22px;
        height: 7px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_white.svg");
        @include mq() {
          width: 3.2vw;
          height: 1.0666666667vw;
          right: 2vw;
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
      &.back {
        &::after {
          left: 20px;
          background-image: url("../img/icon/arrow-l-02_white.svg");
          @include mq() {
            left: vw(30);
          }
        }
        &:hover {
          &::after {
            left: 10px;
          }
        }
      }
    }
    &-02 {
      padding: 24px 0;
      background-color: #fff;
      color: $sub1;
      @include mq() {
        padding: vw(37) 0;
      }
      span {
        font-size: 1.7rem;
        @include mq() {
          font-size: vw(26);
        }
      }
      &::after {
        width: 22px;
        height: 7px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_blue.svg");
        @include mq() {
          width: vw(33);
          height: vw(11);
          right: vw(30);
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
      &.back {
        &::after {
          left: 20px;
          background-image: url("../img/icon/arrow-l-02_blue.svg");
          @include mq() {
            left: vw(30);
          }
        }
        &:hover {
          &::after {
            left: 10px;
          }
        }
      }
    }
    &-03 {
      padding: 7px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 7px;
        height: 12px;
        right: 10px;
        background-image: url("../img/icon/arrow-r-01_white.svg");
        @include mq() {
          width: vw(10);
          height: vw(18);
          right: vw(15);
        }
      }
    }
    &-04 {
      padding: 7px 0;
      background-color: #fff;
      color: $sub1;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 7px;
        height: 12px;
        right: 10px;
        background-image: url("../img/icon/arrow-r-01_blue.svg");
        @include mq() {
          width: vw(10);
          height: vw(18);
          right: vw(15);
        }
      }
    }
    &-05 {
      padding: 14.5px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 17px;
        height: 5px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_white.svg");
        @include mq() {
          //width: vw(24);
          height: vw(8);
          //right: vw(30);
          width: 3vw;
          right: 1vw;
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
    }
  }
}
@include mq("pc") {
  .btn_wrap05 a:nth-child(5n + 1) {
    margin-left: 0;
  }
}

/* btn_wrap
-------------------------*/
.btn_wrap01 {
  width: 340px;
  margin: 0 auto;
  @include mq() {
    width: vw(530);
  }
}
.btn_wrap02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mq() {
  }
  a {
    width: 320px;
    margin: 0 20px;
    @include mq() {
      width: vw(530);
      margin: vw(30) 0 0 0;
    }
    &:first-child {
      @include mq() {
        margin: 0;
      }
    }
  }
}

.btn_wrap03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 415px;
  margin: 0 auto;
  @include mq() {
    max-width: vw(530);
  }
  a {
    width: 48.19277108433735%;
    margin-left: 15px;
    @include mq() {
      width: 49.056603773584904%;
      margin-left: 1.8867924528301887%;
    }
    &:nth-child(odd) {
      margin-left: 0;
    }
    &:nth-child(n + 3) {
      margin-top: 15px;
      @include mq() {
        margin-top: vw(15);
      }
    }
  }
}

.btn_wrap04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include mq() {
    width: 70.6666666667vw;
    margin: 0 auto;
    justify-content: space-between;
  }
  a {
    width: 32%;
    //margin: 0 0 0 2%;
    margin: 0 auto;
    @include mq() {
      //width: vw(530);
      width: 49.0566037736%;
      margin: vw(30) 0 0 0;
    }
    /* &:first-child {
      margin: 0;
      @include mq() {
      }
    }*/
    &.not-link {
      display: block;
      padding: 24px 0;
      background-color: #f1f8fe;
      border-radius: 100vh;
      color: $sub1;
      font-size: 1.7rem;
      font-weight: 700;
      text-align: center;
      pointer-events: none;
      @include mq() {
        //width: vw(530);
        width: 49.0566037736%;
        padding: vw(37) 0;
        font-size: 2.9333333333vw;
      }
    }
  }
}

.btn_wrap05 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mq() {
    //width: vw(530);
    //margin: 0 auto;
    width: 100%;
    justify-content: flex-start;
  }
  a {
    width: 19.2%;
    margin-left: 1%;
    @include mq() {
      //width: 49.056603773584904%;
      width: 32%;
      //margin-left: 1.8867924528301887%;
      margin-top: 1.8867924528301887%;
    }
    &:nth-child(5n + 1) {
      //margin-left: 0;
    }
    &:nth-child(odd) {
      @include mq() {
        //margin-left: 0;
      }
    }
    &:nth-child(n + 3) {
      @include mq() {
        //margin-top: 1.8867924528301887%;
      }
    }
    &:nth-child(n + 6) {
      margin-top: 10px;
      @include mq() {
        //margin-top: 1.8867924528301887%;
      }
    }
  }
}

/* -----------------------------------------------------
	page_heading
----------------------------------------------------- */
.page_heading {
  width: 100%;
  height: auto;
  background-color: $sub1;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.5px 50px;
  background-position: left top;
  @include mq() {
    background-position: center;
    padding: vw(14.5) vw(20) vw(14.5) vw(40);
  }
  &.company {
    background-image: url("../img/ir/heading_bg.jpg");
  }
  .inner {
    max-width: 1326px;
    margin: 0 auto;
    h1 {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text {
        color: #ffffff;
        font-size: 4.5rem;
        line-height: 1.14;
        font-weight: 700;
        font-feature-settings: "palt" 1;
        letter-spacing: 0.1em;
        @include mq() {
          width: vw(345);
          font-size: vw(42);
        }
        small {
          display: block;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 56%;
          line-height: 1;
          margin: 0 0 20px 0;
          @include mq() {
            margin: 0 0 vw(30) 0;
          }
        }
      }
      picture {
        position: relative;
        display: block;
        width: 450px;
        height: 357px;
        clip-path: polygon(
          17.333333333333336% 0%,
          100% 0%,
          82.66666666666667% 100%,
          0% 100%
        );
        overflow: hidden;
        bottom: -40px;
        background-color: #fff;
        @include mq() {
          width: vw(345);
          height: vw(322);
          clip-path: polygon(
            20.869565217391305% 0%,
            100% 0%,
            79.13043478260869% 100%,
            0% 100%
          );
          bottom: vw(-44.5);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include mq() {
          }
        }
      }
    }
  }
}

/* -----------------------------------------------------
	info_performance
----------------------------------------------------- */
.info_cashflow {
  &_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    @include mq("tab") {
      flex-direction: column;
      margin-top: 30px;
    }
    &_content {
      width: 47.5%;
      //height: 713px;
      height: 650px;
      @include mq("tab") {
        width: 100%;
        height: 50%;
      }
      &_title {
        font-size: 2.4rem;
        font-weight: 700;
        padding-bottom: 20px;
        margin-bottom: 30px;
        color: #003798;
        border-bottom: 2px solid #003798;
        @include mq("tab") {
          font-size: 4vw;
        }
      }
      &_graph {
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
      &_table {
        margin-bottom: 100px;
        @include mq("tab") {
          margin-bottom: 50px;
        }
      }
    }
  }

  &_copy {
    font-size: 1.6rem;
    margin-bottom: 30px;
    &:last-of-type {
      margin-bottom: 100px;
      @include mq() {
        margin-bottom: 50px;
      }
    }
    @include mq() {
      font-size: 3.4666666667vw;
    }
  }
  &_title {
    font-size: 1.8rem;
    font-weight: 700;
    @include mq() {
      font-size: 3.4666666667vw;
    }
  }
}

/* -----------------------------------------------------
	xj_chart
----------------------------------------------------- */

.xj_chart_table {
  width: 100%;
  font-size: 90%;
  font-weight: 700;
  &,
  tr,
  td {
    border: 1px solid #e4e4e4;
    border-collapse: collapse;
    text-align: center;
  }
}

.xj_chart_table tr td.xj_chart_header {
  padding: 8px;
  border-right: 1px solid #e4e4e4;
  background-color: #f4f4f4;
}

.xj_chart_table tr td.xj_chart_header_first {
  border-right: 1px solid #e4e4e4;
}

.xj_chart_table tr td.xj_chart_header_first {
  border-right: 1px solid #e4e4e4;
}

.xj_chart_table tr:first-child td {
  background-color: #d4d9e1;
  padding: 11px 5px;
}
