@charset "utf-8";

$fontColor: #222222;
$sub1: #003798;
$break: 750;

//------------------------------------------------------------
//mediaquery
//------------------------------------------------------------
$breakpoints: (
  "sp": "screen and (max-width: 768px)",
  "pc": "screen and (min-width: 769px)",
  "tab": "screen and (max-width:1000px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function vw($px, $viewport: null) {
  @if $viewport == null {
    $viewport: $break;
  }
  @return $px / $viewport * 100vw;
}

/* -----------------------------------------------------
	btn
----------------------------------------------------- */
.btn {
  position: relative;
  display: block;
  border-radius: 100vh;
  text-align: center;
  line-height: 1;
  width: 100%;
  span {
    display: inline-block;
    font-weight: 700;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.2s ease;
  }
  &.type {
    &-01 {
      padding: 24px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(37) 0;
      }
      span {
        font-size: 1.7rem;
        @include mq() {
          font-size: vw(26);
        }
      }
      &::after {
        width: 22px;
        height: 7px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_white.svg");
        @include mq() {
          width: vw(33);
          height: vw(11);
          right: vw(30);
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
      &.back {
        &::after {
          left: 20px;
          background-image: url("../img/icon/arrow-l-02_white.svg");
          @include mq() {
            left: vw(30);
          }
        }
        &:hover {
          &::after {
            left: 10px;
          }
        }
      }
    }
    &-02 {
      padding: 24px 0;
      background-color: #fff;
      color: $sub1;
      @include mq() {
        padding: vw(37) 0;
      }
      span {
        font-size: 1.7rem;
        @include mq() {
          font-size: vw(26);
        }
      }
      &::after {
        width: 22px;
        height: 7px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_blue.svg");
        @include mq() {
          width: vw(33);
          height: vw(11);
          right: vw(30);
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
      &.back {
        &::after {
          left: 20px;
          background-image: url("../img/icon/arrow-l-02_blue.svg");
          @include mq() {
            left: vw(30);
          }
        }
        &:hover {
          &::after {
            left: 10px;
          }
        }
      }
    }
    &-03 {
      padding: 7px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 7px;
        height: 12px;
        right: 10px;
        background-image: url("../img/icon/arrow-r-01_white.svg");
        @include mq() {
          width: vw(10);
          height: vw(18);
          right: vw(15);
        }
      }
    }
    &-04 {
      padding: 7px 0;
      background-color: #fff;
      color: $sub1;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 7px;
        height: 12px;
        right: 10px;
        background-image: url("../img/icon/arrow-r-01_blue.svg");
        @include mq() {
          width: vw(10);
          height: vw(18);
          right: vw(15);
        }
      }
    }
    &-05 {
      padding: 14.5px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 17px;
        height: 5px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_white.svg");
        @include mq() {
          width: vw(24);
          height: vw(8);
          right: vw(30);
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
    }
  }
}

/* btn_wrap
-------------------------*/
.btn_wrap01 {
  width: 340px;
  margin: 0 auto;
  @include mq() {
    width: vw(530);
  }
}
.btn_wrap02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mq() {
  }
  a {
    width: 320px;
    margin: 0 20px;
    @include mq() {
      width: vw(530);
      margin: vw(30) 0 0 0;
    }
    &:first-child {
      @include mq() {
        margin: 0;
      }
    }
  }
}

.btn_wrap03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 415px;
  margin: 0 auto;
  @include mq() {
    max-width: vw(530);
  }
  a {
    width: 48.19277108433735%;
    margin-left: 15px;
    @include mq() {
      width: 49.056603773584904%;
      margin-left: 1.8867924528301887%;
    }
    &:nth-child(odd) {
      margin-left: 0;
    }
    &:nth-child(n + 3) {
      margin-top: 15px;
      @include mq() {
        margin-top: vw(15);
      }
    }
  }
}

.btn_wrap04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include mq() {
    justify-content: center;
  }
  a {
    width: 32%;
    //margin: 0 0 0 2%;
    margin: 0 auto;
    @include mq() {
      width: vw(530);
      margin: vw(30) 0 0 0;
    }
    /* &:first-child {
      margin: 0;
      @include mq() {
      }
    }*/
    &.not-link {
      display: block;
      padding: 24px 0;
      background-color: #f1f8fe;
      border-radius: 100vh;
      color: $sub1;
      font-size: 1.7rem;
      font-weight: 700;
      text-align: center;
      pointer-events: none;
      @include mq() {
        width: vw(530);
        padding: vw(37) 0;
        font-size: vw(26);
      }
    }
  }
}

.btn_wrap05 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mq() {
    width: vw(530);
    margin: 0 auto;
  }
  a {
    width: 19.2%;
    margin-left: 1%;
    @include mq() {
      width: 49.056603773584904%;
      margin-left: 1.8867924528301887%;
    }
    &:nth-child(5n + 1) {
      margin-left: 0;
    }
    &:nth-child(odd) {
      @include mq() {
        margin-left: 0;
      }
    }
    &:nth-child(n + 3) {
      @include mq() {
        margin-top: 1.8867924528301887%;
      }
    }
    &:nth-child(n + 6) {
      margin-top: 10px;
      @include mq() {
        margin-top: 1.8867924528301887%;
      }
    }
  }
}

/* -----------------------------------------------------
	page_heading
----------------------------------------------------- */
.page_heading {
  width: 100%;
  height: auto;
  background-color: $sub1;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.5px 50px;
  background-position: left top;
  @include mq() {
    background-position: center;
    padding: vw(14.5) vw(20) vw(14.5) vw(40);
  }
  &.company {
    background-image: url("../img/ir/heading_bg.jpg");
  }
  .inner {
    max-width: 1326px;
    margin: 0 auto;
    h1 {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text {
        color: #ffffff;
        font-size: 4.5rem;
        line-height: 1.14;
        font-weight: 700;
        font-feature-settings: "palt" 1;
        letter-spacing: 0.1em;
        @include mq() {
          width: vw(345);
          font-size: vw(42);
        }
        small {
          display: block;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 56%;
          line-height: 1;
          margin: 0 0 20px 0;
          @include mq() {
            margin: 0 0 vw(30) 0;
          }
        }
      }
      picture {
        position: relative;
        display: block;
        width: 450px;
        height: 357px;
        clip-path: polygon(
          17.333333333333336% 0%,
          100% 0%,
          82.66666666666667% 100%,
          0% 100%
        );
        overflow: hidden;
        bottom: -40px;
        background-color: #fff;
        @include mq() {
          width: vw(345);
          height: vw(322);
          clip-path: polygon(
            20.869565217391305% 0%,
            100% 0%,
            79.13043478260869% 100%,
            0% 100%
          );
          bottom: vw(-44.5);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include mq() {
          }
        }
      }
    }
  }
}

/* -----------------------------------------------------
	news_ir_info
----------------------------------------------------- */
.ir_info {
  margin-bottom: 80px;
  @include mq() {
    margin-bottom: 40px;
  }
  ul {
    li {
      margin-top: 20px;
      @include mq() {
        margin-top: vw(20);
      }
      &.library_disclosure_num_list_item {
        margin-top: 100px;
      }
      dl {
        display: flex;
        flex-wrap: wrap;
        dt {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          width: 27.2%;
          padding: 0 30px 20px 40px;
          @include mq() {
            width: 100%;
            justify-content: flex-start;
            padding: 0 vw(40);
            margin: 0 0 vw(15) 0;
          }
          .date {
            display: block;
            font-size: 1.6rem;
            font-weight: 700;
            @include mq() {
              font-size: vw(26);
            }
          }
          .cat {
            display: block;
            background-color: #b70000;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1;
            padding: 4px 0;
            width: 84px;
            text-align: center;
            @include mq() {
              font-size: vw(20);
              padding: vw(6) 0;
              width: vw(126);
              margin: 0 0 0 vw(20);
            }
          }
        }
        dd {
          width: 72.8%;
          padding: 0 0 20px 0;
          @include mq() {
            width: 100%;
            padding: 0 vw(40) vw(20) vw(40);
          }
          a {
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            background-image: url("../img/icon/arrow-r-02_black.svg");
            background-repeat: no-repeat;
            background-position: right 40px center;
            background-size: 22px auto;
            padding: 0 102px 0 0;
            @include mq() {
              font-size: vw(26);
              background-position: right center;
              background-size: vw(30) auto;
              padding: 0 vw(40) 0 0;
            }
            &.pdf {
              position: relative;
              padding: 0 142px 0 0;
              @include mq() {
                padding: 0 vw(120) 0 0;
              }
              &:after {
                content: "";
                display: block;
                width: 30px;
                height: 33px;
                background-image: url("../img/icon/pdf.svg");
                background-repeat: no-repeat;
                background-position: left top;
                background-size: 30px auto;
                position: absolute;
                top: 50%;
                right: 102px;
                transform: translateY(-50%);
                @include mq() {
                  width: vw(40);
                  height: vw(44);
                  background-size: vw(40) auto;
                  right: vw(70);
                }
              }
            }
          }
        }
      }
      &:first-child {
        //margin-top: 0;
      }
    }
  }
  .txt_lnk {
    margin: 30px 0 0 0;
    text-align: right;
    @include mq() {
      margin: vw(30) 0 0 0;
    }
    a {
      font-size: 1.4rem;
      letter-spacing: 0.06em;
      display: inline-block;
      padding: 0 20px 0 0;
      background-image: url("../img/icon/arrow-r-01_black.svg");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 7px auto;
      color: #000;
      @include mq() {
        font-size: vw(24);
        padding: 0 vw(24) 0 0;
        background-size: vw(11) auto;
      }
    }
  }
}

/* -----------------------------------------------------
	ir_cat_list
----------------------------------------------------- */
.ir_cat_list {
  margin-bottom: 50px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    @include mq() {
      margin-top: vw(50);
    }
    &:first-child {
      margin-top: 0;
    }
    > a {
      position: relative;
      width: 50%;
      height: 340px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-color: #f5f5f5;
      @include mq() {
        width: 100%;
        height: vw(340);
      }
      &:after {
        content: "";
        display: block;
        width: 44px;
        height: 44px;
        border-radius: 100vh;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        background-color: #fff;
        background-image: url("../img/icon/arrow-r-02_blue.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 22px auto;
        @include mq() {
          width: vw(50);
          height: vw(50);
          right: vw(20);
          background-size: vw(22) auto;
        }
      }
      .ttl {
        text-align: center;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        font-feature-settings: "palt" 1;
        letter-spacing: 0.1em;
        @include mq() {
          font-size: vw(40);
        }
        small {
          display: block;
          margin: 15px 0 0 0;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 2rem;
          @include mq() {
            margin: vw(15) 0 0 0;
            font-size: vw(34);
          }
        }
      }
    }
    &.financial {
      > a {
        background-image: url("../img/ir/ir_cat_list_financial.jpg");
      }
    }
    .list {
      width: 50%;
      padding: 40px;
      background-color: #f1f8fe;
      @include mq() {
        width: 100%;
        padding: vw(40);
      }
      ul {
        li {
          padding: 0 0 0 22px;
          background-image: url("../img/icon/arrow-r-01_black.svg");
          background-repeat: no-repeat;
          background-size: 9px auto;
          background-position: left top 4.5px;
          margin-top: 16px;
          @include mq() {
            padding: 0 0 0 vw(22);
            background-size: vw(9) auto;
            background-position: left top vw(9.5);
            margin-top: vw(16);
          }
          &:first-child {
            margin-top: 0;
          }
          a {
            display: inline-block;
            @include mq() {
              font-size: vw(26);
            }
          }
        }
      }
    }
  }
}

/* -----------------------------------------------------
	ir_library_disclosure
----------------------------------------------------- */
.library_disclosure {
  &_btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mq() {
      flex-direction: column;
    }
    &_item {
      display: block;
      margin-bottom: 20px;
      text-align: center;
      background-color: $sub1;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 700;
      padding: 14.5px 0;
      width: 30%;
      @include mq() {
        width: 100%;
      }
    }
  }

  &_adobe {
    width: 90%;
    margin: 50px auto 100px;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    @include mq() {
      width: 100%;
      margin: 50px auto;
      flex-direction: column-reverse;
    }
    a {
      display: block;
      height: 40px;
      width: 30%;
      img {
        height: 40px;
        object-fit: cover;
      }
      @include mq() {
        width: 100%;
        text-align: center;
      }
    }
    p {
      width: 90%;
      line-height: 1.7;
      @include mq() {
        font-size: 3.46667vw;
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .head_year {
    width: 158px;
    position: relative;
    margin-left: auto;
    margin-bottom: 20px;
    z-index: 9999;
    @include mq() {
      width: 100%;
      margin-top: vw(22);
    }
    .title {
      font-size: 20px;
      font-weight: bold;
      @include mq() {
        font-size: vw(30);
      }
    }
    .head_year_btn {
      font-size: 16px;
      font-weight: bold;
      margin-top: 16px;
      position: relative;
      @include mq() {
        font-size: vw(26);
        margin-top: vw(14);
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        width: 14px;
        height: 8px;
        background-image: url(../img/works/arrow02.png);
        background-repeat: no-repeat;
        background-size: contain;
        @include mq() {
          right: vw(20);
          width: vw(14);
          height: vw(8);
        }
      }
    }
    .head_year_list {
      margin-top: 10px;
      display: none;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      @include mq() {
        margin-top: vw(10);
        top: vw(100);
      }
      li {
        &.current {
          a {
            color: #003798;
          }
        }
        a {
          display: block;
          font-size: 16px;
          font-weight: bold;
          padding: 12px 20px;
          background-color: #f1f8fe;
        }
      }
    }
  }

  .pager {
    margin-top: 80px;
    @include mq() {
      margin-top: vw(60);
    }
    &_inner {
      ul {
        display: flex;
        justify-content: center;
        li {
          border: none;
          margin-right: 4px;
          @include mq() {
            margin-right: vw(7);
          }
          &:first-child {
            margin-left: 4px;
            @include mq() {
              margin-left: vw(7);
            }
          }
          &.next {
            margin-left: 25px;
            @include mq() {
              margin-left: vw(37);
            }
          }
          &.prev {
            margin-right: 25px;
            @include mq() {
              margin-right: vw(37);
            }
          }
          &.current {
            a {
              color: #fff;
              background-color: #003798;
            }
          }
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-weight: bold;
            background-color: #f1f8fe;
            @include mq() {
              width: vw(58);
              height: vw(58);
              font-size: vw(24);
            }
          }
        }
      }
    }
  }
  .wp-pagenavi {
    display: flex;
    justify-content: center;
    align-items: center;
    a,
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      font-weight: bold;
      border: unset;
      @include mq() {
        width: vw(58);
        height: vw(58);
        font-size: vw(24);
      }
    }
    a.page,
    a.nextpostslink,
    a.previouspostslink {
      background-color: #f1f8fe;
    }
    a.previouspostslink {
      margin-right: 25px;
      @include mq() {
        margin-right: vw(37);
      }
    }
    a.nextpostslink {
      margin-left: 25px;
      @include mq() {
        margin-left: vw(37);
      }
    }
    span.current {
      color: #fff;
      background-color: #003798;
    }
  }
}

.ir_blue {
  color: #5a9bd5;
}
.no_link {
  pointer-events: none;
}

/* -----------------------------------------------------
	contact
----------------------------------------------------- */
#contact {
  background-image: url("../img/contact_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  @include mq() {
  }
  .ttl {
    width: 212px;
    margin: 0 auto 40px auto;
    @include mq() {
      width: vw(236);
      margin: 0 auto vw(40) auto;
    }
  }
  p {
    color: #ffffff;
    font-size: 1.7rem;
    line-height: 1.57;
    font-weight: 700;
    margin: 0 auto 40px auto;
    @include mq() {
      font-size: vw(23);
      margin: 0 auto vw(40) auto;
    }
  }
}
