.maintenance_btn {
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .maintenance_btn {
    margin-top: 6.9333333333vw;
  }
}

.maintenance_box {
  padding-top: 0;
}
.maintenance_box h3 {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  .maintenance_box h3 {
    font-size: 4.5333333333vw;
  }
}
.maintenance_box p {
  text-align: center;
  line-height: 1.625;
  margin-top: 38px;
}
@media screen and (max-width: 768px) {
  .maintenance_box p {
    margin-top: 4vw;
    padding: 0 6.6666666667vw;
  }
}
.maintenance_box .btn_wrap02 {
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .maintenance_box .btn_wrap02 {
    margin-top: 6.9333333333vw;
  }
}
.maintenance_box_bg .inner {
  background-color: #f1f8fe;
  padding: 60px 0;
}
@media screen and (max-width: 768px) {
  .maintenance_box_bg .inner {
    padding: 6.6666666667vw 0;
  }
}
.maintenance_box_bg .btn_wrap02 .btn.type-01:last-child {
  height: 65px;
}
@media screen and (max-width: 768px) {
  .maintenance_box_bg .btn_wrap02 .btn.type-01:last-child {
    height: 13.6vw;
  }
}
.maintenance_box_bg .btn_wrap02 .btn.type-01:last-child span {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .maintenance_box_bg .btn_wrap02 .btn.type-01:last-child span {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

.maintenance_ss {
  padding-top: 0;
}

.maintenance_ss__list {
  background-color: #f1f8fe;
}
.maintenance_ss__list .box01 {
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box01 {
    margin-top: 6.6666666667vw;
  }
}
.maintenance_ss__list .box01 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box01 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.maintenance_ss__list .box01 ul li {
  width: calc(50% - 20px);
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box01 ul li {
    width: 100%;
  }
  .maintenance_ss__list .box01 ul li:last-child {
    margin-top: 12vw;
  }
}
.maintenance_ss__list .box01 ul li .head {
  font-size: 20px;
  text-align: center;
  line-height: 1.8;
  color: #fff;
  background-color: #13346e;
  padding: 8px;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box01 ul li .head {
    font-size: 4vw;
    padding: 2.1333333333vw;
  }
}
.maintenance_ss__list .box01 ul li .text-box {
  padding: 30px 53px;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box01 ul li .text-box {
    padding: 4vw 7.0666666667vw;
  }
}
.maintenance_ss__list .box01 ul li .text-box .title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box01 ul li .text-box .title {
    font-size: 4vw;
  }
}
.maintenance_ss__list .box01 ul li .text-box .text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.625;
  height: 286px;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box01 ul li .text-box .text {
    margin-top: 4vw;
    font-size: 3.4666666667vw;
    height: auto;
  }
}
.maintenance_ss__list .box02 {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box02 {
    margin-top: 13.3333333333vw;
  }
}
.maintenance_ss__list .box02 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box02 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.maintenance_ss__list .box02 ul li {
  width: calc(50% - 20px);
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box02 ul li {
    width: 100%;
  }
}
.maintenance_ss__list .box02 ul li .box02_title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 16px;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box02 ul li .box02_title {
    font-size: 4.8vw;
    margin-top: 5.3333333333vw;
    margin-left: 0;
  }
}
.maintenance_ss__list .box02 ul li .box02_text {
  font-size: 16px;
  line-height: 1.625;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box02 ul li .box02_text {
    font-size: 3.4666666667vw;
    margin-top: 2.6666666667vw;
  }
}
.maintenance_ss__list .box02 ul li a {
  display: block;
  margin-top: 36px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 14px;
  padding-right: 15px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box02 ul li a {
    margin-top: 5.3333333333vw;
    font-size: 3.2vw;
    padding-right: 3.2vw;
  }
}
.maintenance_ss__list .box02 ul li a::before {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 7px;
  height: 7px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .box02 ul li a::before {
    top: 1.6vw;
    width: 1.6vw;
    height: 1.6vw;
  }
}
.maintenance_ss__list .btn_wrap02 {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .maintenance_ss__list .btn_wrap02 {
    margin-top: 10.6666666667vw;
  }
}

.maintenance_ss_base_title {
  padding-bottom: 0;
}

.maintenance_ss_base {
  padding-top: 0;
}

.conservative-info {
  padding-top: 0;
}
.conservative-info .block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.conservative-info .btn_wrap02 {
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .conservative-info .btn_wrap02 {
    margin-top: 9.3333333333vw;
  }
}
.conservative-info .btn_wrap02 .btn.type-01:last-child {
  height: 65px;
}
@media screen and (max-width: 768px) {
  .conservative-info .btn_wrap02 .btn.type-01:last-child {
    height: 13.6vw;
  }
}
.conservative-info .btn_wrap02 .btn.type-01:last-child span {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .conservative-info .btn_wrap02 .btn.type-01:last-child span {
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

.maintenance_technical-information h2 {
  font-size: 36px;
  font-weight: bold;
}
.maintenance_technical-information h2 span {
  font-weight: normal;
  font-size: 24px;
  display: block;
}
@media screen and (max-width: 768px) {
  .maintenance_technical-information h2 {
    font-size: 5.7333333333vw;
  }
  .maintenance_technical-information h2 span {
    font-size: 3.7333333333vw;
  }
}
.maintenance_technical-information .box {
  margin-top: 40px;
  padding: 50px;
  margin-top: 40px;
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .maintenance_technical-information .box {
    margin-top: 5.3333333333vw;
    padding: 5.3333333333vw;
  }
}
.maintenance_technical-information .box p {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .maintenance_technical-information .box p {
    font-size: 3.4666666667vw;
    margin-bottom: 5.0666666667vw;
  }
}
.maintenance_technical-information .box p:last-child {
  margin-bottom: 0;
}
.maintenance_technical-information .box p a {
  text-decoration: underline;
  color: #0000ee;
}
.maintenance_technical-information .box .btn_wrap02 {
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .maintenance_technical-information .box .btn_wrap02 {
    margin-top: 10.6666666667vw;
  }
}

.maintenance_periodic-inspection h2 {
  font-size: 36px;
  font-weight: bold;
}
.maintenance_periodic-inspection h2 span {
  font-weight: normal;
  font-size: 24px;
  display: block;
}
@media screen and (max-width: 768px) {
  .maintenance_periodic-inspection h2 {
    font-size: 5.7333333333vw;
  }
  .maintenance_periodic-inspection h2 span {
    font-size: 3.7333333333vw;
  }
}
.maintenance_periodic-inspection .box {
  padding: 50px;
  margin-top: 40px;
  background-color: whitesmoke;
}
@media screen and (max-width: 768px) {
  .maintenance_periodic-inspection .box {
    margin-top: 5.3333333333vw;
    padding: 5.3333333333vw;
  }
}
.maintenance_periodic-inspection .box p {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .maintenance_periodic-inspection .box p {
    font-size: 3.4666666667vw;
    margin-bottom: 5.0666666667vw;
  }
}
.maintenance_periodic-inspection .box p:last-child {
  margin-bottom: 0;
}
.maintenance_periodic-inspection .box p a {
  text-decoration: underline;
  color: #0000ee;
}
.maintenance_periodic-inspection .box .btn_wrap02 {
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .maintenance_periodic-inspection .box .btn_wrap02 {
    margin-top: 10.6666666667vw;
  }
}
.maintenance_periodic-inspection .btn_box {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .maintenance_periodic-inspection .btn_box {
    margin-top: 10.6666666667vw;
  }
}
.maintenance_periodic-inspection .btn_box .btn_wrap01 {
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .maintenance_periodic-inspection .btn_box .btn_wrap01 {
    margin-top: 6.6666666667vw;
  }
}

.maintenance_download p {
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 40px;
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .maintenance_download p {
    font-size: 3.4666666667vw;
    margin-bottom: 5.0666666667vw;
    margin-top: 8vw;
  }
}
.maintenance_download h2 {
  font-size: 36px;
  font-weight: bold;
}
.maintenance_download h2 span {
  font-weight: normal;
  font-size: 24px;
  display: block;
}
@media screen and (max-width: 768px) {
  .maintenance_download h2 {
    font-size: 5.7333333333vw;
  }
  .maintenance_download h2 span {
    font-size: 3.7333333333vw;
  }
}
.maintenance_download .box {
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .maintenance_download .box {
    margin-top: 5.3333333333vw;
    padding: 5.3333333333vw;
  }
}
.maintenance_download .box .btn_wrap02 {
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .maintenance_download .box .btn_wrap02 {
    margin-top: 10.6666666667vw;
  }
}
.maintenance_download .btn_wrap01 {
  margin-top: 48px;
}
@media screen and (max-width: 768px) {
  .maintenance_download .btn_wrap01 {
    margin-top: 10.6666666667vw;
  }
}
.maintenance_download .ir_info ul li dl dt {
  width: 20%;
}
@media screen and (max-width: 768px) {
  .maintenance_download .ir_info ul li dl dt {
    width: 100%;
  }
}/*# sourceMappingURL=maintenance.css.map */