@charset "utf-8";

$fontColor: #222222;
$sub1: #003798;
$break: 750;
$break: 750;

//------------------------------------------------------------
//mediaquery
//------------------------------------------------------------
$breakpoints: (
  "sp": "screen and (max-width: 768px)",
  "pc": "screen and (min-width: 769px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function vw($px, $viewport: null) {
  @if $viewport == null {
    $viewport: $break;
  }
  @return $px / $viewport * 100vw;
}

/* -----------------------------------------------------
	option
----------------------------------------------------- */
.pc {
  display: block;
  @include mq() {
    display: none;
  }
}

.sp {
  display: none;
  @include mq() {
    display: block;
  }
}

.maintenance_btn {
  margin-top: 48px;
  @include mq() {
    margin-top: vw(52);
  }
}

.maintenance_box {
  padding-top: 0;
  h3 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    @include mq() {
      font-size: vw(34);
    }
  }
  p {
    text-align: center;
    line-height: 1.625;
    margin-top: 38px;
    @include mq() {
      margin-top: vw(30);
      padding: 0 vw(50);
    }
  }
  .btn_wrap02 {
    margin-top: 48px;
    @include mq() {
      margin-top: vw(52);
    }
  }
  &_bg {
    .inner {
      background-color: #f1f8fe;
      padding: 60px 0;
      @include mq() {
        padding: vw(50) 0;
      }
    }
    .btn_wrap02 {
      .btn {
        &.type-01 {
          &:last-child {
            height: 65px;
            @include mq() {
              height: vw(102);
            }
            span {
              transform: translateY(-30%);
              line-height: 1.3;
              @include mq() {
                transform: translateY(-30%);
              }
            }
          }
        }
      }
    }
  }
}

.maintenance_ss {
  padding-top: 0;
}

.maintenance_ss__list {
  background-color: #f1f8fe;
  .box01 {
    margin-top: 35px;
    @include mq() {
      margin-top: vw(50);
    }
    ul {
      display: flex;
      justify-content: space-between;
      @include mq() {
        flex-direction: column;
      }
      li {
        width: calc(50% - 20px);
        @include mq() {
          width: 100%;
          &:last-child {
            margin-top: vw(90);
          }
        }
        .head {
          font-size: 20px;
          text-align: center;
          line-height: 1.8;
          color: #fff;
          background-color: #13346e;
          padding: 8px;
          @include mq() {
            font-size: vw(30);
            padding: vw(16);
          }
        }
        .text-box {
          padding: 30px 53px;
          background-color: #fff;
          @include mq() {
            padding: vw(30) vw(53);
          }
          .title {
            font-size: 20px;
            text-align: center;
            font-weight: bold;
            @include mq() {
              font-size: vw(30);
            }
          }
          .text {
            margin-top: 20px;
            font-size: 16px;
            line-height: 1.625;
            height: 286px;
            @include mq() {
              margin-top: vw(30);
              font-size: vw(26);
              height: auto;
            }
          }
        }
      }
    }
  }
  .box02 {
    margin-top: 80px;
    @include mq() {
      margin-top: vw(100);
    }
    ul {
      display: flex;
      justify-content: space-between;
      @include mq() {
        flex-direction: column;
      }
      li {
        width: calc(50% - 20px);
        @include mq() {
          width: 100%;
        }
        .box02_title {
          font-size: 30px;
          font-weight: bold;
          margin-top: 30px;
          margin-left: 16px;
          @include mq() {
            font-size: vw(36);
            margin-top: vw(40);
            margin-left: 0;
          }
        }
        .box02_text {
          font-size: 16px;
          line-height: 1.625;
          margin-top: 10px;
          @include mq() {
            font-size: vw(26);
            margin-top: vw(20);
          }
        }
        a {
          display: block;
          margin-top: 36px;
          width: fit-content;
          margin-left: auto;
          font-size: 14px;
          padding-right: 15px;
          position: relative;
          @include mq() {
            margin-top: vw(40);
            font-size: vw(24);
            padding-right: vw(24);
          }
          &::before {
            content: "";
            position: absolute;
            top: 7px;
            right: 0;
            width: 7px;
            height: 7px;
            border-top: 1px solid #000;
            border-right: 1px solid #000;
            transform: rotate(45deg);
            @include mq() {
              top: vw(12);
              width: vw(12);
              height: vw(12);
            }
          }
        }
      }
    }
  }
  .btn_wrap02 {
    margin-top: 80px;
    @include mq() {
      margin-top: vw(80);
    }
  }
}

.maintenance_ss_base_title {
  padding-bottom: 0;
}
.maintenance_ss_base {
  padding-top: 0;
}

.conservative-info {
  padding-top: 0;
  .block {
    flex-direction: row-reverse;
  }
  .btn_wrap02 {
    margin-top: 48px;
    @include mq() {
      margin-top: vw(70);
    }
    .btn {
      &.type-01 {
        &:last-child {
          height: 65px;
          @include mq() {
            height: vw(102);
          }
          span {
            transform: translateY(-30%);
            line-height: 1.3;
            @include mq() {
              transform: translateY(-30%);
            }
          }
        }
      }
    }
  }
}

.maintenance_technical-information {
  h2 {
    font-size: 36px;
    font-weight: bold;
    span {
      font-weight: normal;
      font-size: 24px;
      display: block;
    }
    @include mq() {
      font-size: vw(43);
      span {
        font-size: vw(28);
      }
    }
  }
  .box {
    margin-top: 40px;
    padding: 50px;
    margin-top: 40px;
    background-color: #f1f8fe;
    @include mq() {
      margin-top: vw(40);
      padding: vw(40);
    }
    p {
      font-size: 16px;
      line-height: 1.625;
      margin-bottom: 20px;
      @include mq() {
        font-size: vw(26);
        margin-bottom: vw(38);
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
        color: #0000ee;
      }
    }
    .btn_wrap02 {
      margin-top: 48px;
      @include mq() {
        margin-top: vw(80);
      }
    }
  }
}

.maintenance_periodic-inspection {
  h2 {
    font-size: 36px;
    font-weight: bold;
    span {
      font-weight: normal;
      font-size: 24px;
      display: block;
    }
    @include mq() {
      font-size: vw(43);
      span {
        font-size: vw(28);
      }
    }
  }
  .box {
    padding: 50px;
    margin-top: 40px;
    background-color: #f1f8fe;
    @include mq() {
      margin-top: vw(40);
      padding: vw(40);
    }
    p {
      font-size: 16px;
      line-height: 1.625;
      margin-bottom: 20px;
      @include mq() {
        font-size: vw(26);
        margin-bottom: vw(38);
      }
      &:last-child {
        margin-bottom: 0;
      }
      a {
        text-decoration: underline;
        color: #0000ee;
      }
    }
    .btn_wrap02 {
      margin-top: 48px;
      @include mq() {
        margin-top: vw(80);
      }
    }
  }
  .btn_box {
    margin-top: 50px;
    @include mq() {
      margin-top: vw(80);
    }
    .btn_wrap01 {
      margin-top: 30px;
      @include mq() {
        margin-top: vw(50);
      }
    }
  }
}

.maintenance_download {
  p {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 40px;
    margin-top: 50px;
    @include mq() {
      font-size: vw(26);
      margin-bottom: vw(38);
      margin-top: vw(60);
    }
  }
  h2 {
    font-size: 36px;
    font-weight: bold;
    span {
      font-weight: normal;
      font-size: 24px;
      display: block;
    }
    @include mq() {
      font-size: vw(43);
      span {
        font-size: vw(28);
      }
    }
  }
  .box {
    margin-top: 40px;
    @include mq() {
      margin-top: vw(40);
      padding: vw(40);
    }
    .btn_wrap02 {
      margin-top: 48px;
      @include mq() {
        margin-top: vw(80);
      }
    }
  }
  .btn_wrap01 {
    margin-top: 48px;
    @include mq() {
      margin-top: vw(80);
    }
  }
  .ir_info {
    ul {
      li {
        dl {
          dt {
            width: 20%;
            @include mq() {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.maintenance_download_info {
  ul {
    li {
      border-bottom: solid 1px #999999;
      margin-top: 20px;
      @include mq() {
        margin-top: vw(20);
      }
      dl {
        display: flex;
        flex-wrap: wrap;
        dt {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;
          width: 27.2%;
          padding: 0 30px 20px 40px;
          @include mq() {
            width: 100%;
            justify-content: flex-start;
            padding: 0 vw(40);
            margin: 0 0 vw(15) 0;
          }
          .date {
            display: block;
            font-size: 1.6rem;
            font-weight: 700;
            @include mq() {
              font-size: vw(26);
            }
          }
          .cat {
            display: block;
            background-color: #b70000;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1;
            padding: 4px 0;
            width: 84px;
            text-align: center;
            @include mq() {
              font-size: vw(20);
              padding: vw(6) 0;
              width: vw(126);
              margin: 0 0 0 vw(20);
            }
          }
        }
        dd {
          width: 72.8%;
          padding: 0 0 20px 0;
          @include mq() {
            width: 100%;
            padding: 0 vw(40) vw(20) vw(40);
          }
          a {
            display: block;
            font-size: 1.6rem;
            font-weight: 500;
            background-image: url("../img/icon/arrow-r-02_black.svg");
            background-repeat: no-repeat;
            background-position: right 40px center;
            background-size: 22px auto;
            padding: 0 102px 0 0;
            @include mq() {
              font-size: vw(26);
              background-position: right center;
              background-size: vw(30) auto;
              padding: 0 vw(40) 0 0;
            }
            &.pdf {
              position: relative;
              padding: 0 142px 0 0;
              @include mq() {
                padding: 0 vw(120) 0 0;
              }
              &:after {
                content: "";
                display: block;
                width: 30px;
                height: 33px;
                background-image: url("../img/icon/pdf.svg");
                background-repeat: no-repeat;
                background-position: left top;
                background-size: 30px auto;
                position: absolute;
                top: 50%;
                right: 102px;
                transform: translateY(-50%);
                @include mq() {
                  width: vw(40);
                  height: vw(44);
                  background-size: vw(40) auto;
                  right: vw(70);
                }
              }
            }
          }
        }
      }
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.maintenance_ss_maintenance-agreement {
  &_title {
    h2 {
      font-size: 36px;
      font-weight: bold;
      span {
        font-weight: normal;
        font-size: 24px;
        display: block;
      }
      @include mq() {
        font-size: vw(43);
        span {
          font-size: vw(28);
        }
      }
    }
  }
  &_wrap {
    margin-top: 50px;
    @include mq() {
      margin-top: vw(70);
    }
    .btn_wrap01 {
      margin-top: 50px;
    }
  }
  &_table {
    .tr {
      display: flex;
      border-bottom: 2px solid #fff;
      line-height: 1.75;
      .th {
        text-align: center;
        background-color: #003798;
        color: #fff;
        width: 45%;
        font-weight: bold;
        padding: 8px 0;
        &:first-child {
          width: 10%;
          border-right: 2px solid #fff;
        }
      }
      .td {
        padding: 18px;
        width: 45%;
        position: relative;
        &:first-child {
          width: 10%;
          background-color: whitesmoke;
          border-right: 2px solid #fff;
          padding: 18px 0;
          text-align: center;
          position: relative;
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
        }
        &:nth-child(2) {
          border-right: 2px solid #fff;
        }
        &:nth-child(2),
        &:nth-child(3) {
          background-color: #f1f8fe;
        }
        span {
          font-size: 14px;
        }
        ul {
          margin-top: 20px;
          li {
            font-size: 14px;
          }
        }
      }
      &:nth-child(4),
      &:last-child {
        .td {
          &:nth-child(2) {
            position: relative;
            p {
              position: absolute;
              top: 50%;
              left: 18px;
              transform: translateY(-50%);
              width: 100%;
            }
          }
        }
      }
      &:nth-child(3) {
        .td {
          &:nth-child(3) {
            position: relative;
            p {
              position: absolute;
              top: 50%;
              left: 18px;
              transform: translateY(-50%);
              width: 100%;
            }
          }
        }
      }
      &:nth-child(5) {
        .td {
          &:nth-child(2) {
            width: 90%;
          }
        }
      }
    }
    @include mq() {
      .table {
        display: flex;
        width: 100%;
        height: vw(1060);
        overflow-x: scroll;
        .block {
          width: 90%;
          flex-shrink: 0;
          width: vw(400);
          &:first-child {
            width: vw(250);
            margin-top: vw(100);
          }
          &:nth-child(4) {
            .box-text {
              &:last-child {
                p {
                  height: 20%;
                }
              }
            }
          }
          &:nth-child(5) {
            .box-text {
              height: vw(960);
            }
          }
          .head {
            background-color: #003798;
            height: vw(480);
            border-right: 2px solid #fff;
            &:first-child {
              border-bottom: 2px solid #fff;
            }
            p {
              color: #fff;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              text-align: center;
              font-size: vw(26);
            }
          }
          .box-title {
            background-color: whitesmoke;
            height: vw(100);
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            p {
              font-size: vw(26);
              line-height: 1.625;
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            }
          }
          .box-text {
            background-color: #f1f8fe;
            padding: vw(36);
            height: vw(480);
            display: flex;
            align-items: center;
            flex-direction: column;
            border-right: 2px solid #fff;
            &:nth-child(2) {
              border-bottom: 2px solid #fff;
            }
            p {
              font-size: vw(26);
              line-height: 1.625;
              height: 100%;
              text-align: center;
              display: flex;
              align-items: center;
            }
            ul {
              margin-top: vw(14);
              li {
                span {
                  font-size: 0.8em;
                }
              }
            }
          }
        }
      }
    }
  }
  .text {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.65;
    @include mq() {
      margin-top: vw(30);
      font-size: vw(24);
    }
  }
}

.maintenance_adobe {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
}
.maintenance_adobe_box {
  width: 90%;
  margin: 0 auto 100px;
  background-color: #f5f5f5;
  padding: 20px;
  display: flex;
  @include mq() {
    width: 100%;
    margin: 50px auto;
    flex-direction: column-reverse;
  }
  a {
    display: block;
    height: 40px;
    width: 30%;
    img {
      height: 40px;
      object-fit: cover;
    }
    @include mq() {
      width: 100%;
      text-align: center;
    }
  }
  p {
    width: 90%;
    line-height: 1.7;
    @include mq() {
      font-size: 3.46667vw;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
