@charset "utf-8";

$fontColor: #222222;
$sub1: #003798;
$break: 750;

//------------------------------------------------------------
//mediaquery
//------------------------------------------------------------
$breakpoints: (
  "sp": "screen and (max-width: 768px)",
  "pc": "screen and (min-width: 769px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function vw($px, $viewport: null) {
  @if $viewport == null {
    $viewport: $break;
  }
  @return $px / $viewport * 100vw;
}

/* -----------------------------------------------------
	btn
----------------------------------------------------- */
.btn {
  position: relative;
  display: block;
  border-radius: 100vh;
  text-align: center;
  line-height: 1;
  width: 100%;
  span {
    display: inline-block;
    font-weight: 700;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 0.2s ease;
  }
  &.type {
    &-01 {
      padding: 24px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(37) 0;
      }
      span {
        font-size: 1.7rem;
        @include mq() {
          font-size: vw(26);
        }
      }
      &::after {
        width: 22px;
        height: 7px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_white.svg");
        @include mq() {
          width: vw(33);
          height: vw(11);
          right: vw(30);
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
      &.back {
        &::after {
          left: 20px;
          background-image: url("../img/icon/arrow-l-02_white.svg");
          @include mq() {
            left: vw(30);
          }
        }
        &:hover {
          &::after {
            left: 10px;
          }
        }
      }
    }
    &-02 {
      padding: 24px 0;
      background-color: #fff;
      color: $sub1;
      @include mq() {
        padding: vw(37) 0;
      }
      span {
        font-size: 1.7rem;
        @include mq() {
          font-size: vw(26);
        }
      }
      &::after {
        width: 22px;
        height: 7px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_blue.svg");
        @include mq() {
          width: vw(33);
          height: vw(11);
          right: vw(30);
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
      &.back {
        &::after {
          left: 20px;
          background-image: url("../img/icon/arrow-l-02_blue.svg");
          @include mq() {
            left: vw(30);
          }
        }
        &:hover {
          &::after {
            left: 10px;
          }
        }
      }
    }
    &-03 {
      padding: 7px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 7px;
        height: 12px;
        right: 10px;
        background-image: url("../img/icon/arrow-r-01_white.svg");
        @include mq() {
          width: vw(10);
          height: vw(18);
          right: vw(15);
        }
      }
    }
    &-04 {
      padding: 7px 0;
      background-color: #fff;
      color: $sub1;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 7px;
        height: 12px;
        right: 10px;
        background-image: url("../img/icon/arrow-r-01_blue.svg");
        @include mq() {
          width: vw(10);
          height: vw(18);
          right: vw(15);
        }
      }
    }
    &-05 {
      padding: 14.5px 0;
      background-color: $sub1;
      color: #fff;
      @include mq() {
        padding: vw(23) 0;
      }
      span {
        font-size: 1.5rem;
        @include mq() {
          font-size: vw(22);
        }
      }
      &::after {
        width: 17px;
        height: 5px;
        right: 20px;
        background-image: url("../img/icon/arrow-r-02_white.svg");
        @include mq() {
          width: vw(24);
          height: vw(8);
          right: vw(30);
        }
      }
      &:hover {
        &::after {
          right: 10px;
        }
      }
    }
  }
}

/* btn_wrap
-------------------------*/
.btn_wrap01 {
  width: 340px;
  margin: 0 auto;
  @include mq() {
    width: vw(530);
  }
}
.btn_wrap02 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mq() {
  }
  a {
    width: 320px;
    margin: 0 20px;
    @include mq() {
      width: vw(530);
      margin: vw(30) 0 0 0;
    }
    &:first-child {
      @include mq() {
        margin: 0;
      }
    }
  }
}

.btn_wrap03 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 415px;
  margin: 0 auto;
  @include mq() {
    max-width: vw(530);
  }
  a {
    width: 48.19277108433735%;
    margin-left: 15px;
    @include mq() {
      width: 49.056603773584904%;
      margin-left: 1.8867924528301887%;
    }
    &:nth-child(odd) {
      margin-left: 0;
    }
    &:nth-child(n + 3) {
      margin-top: 15px;
      @include mq() {
        margin-top: vw(15);
      }
    }
  }
}

.btn_wrap04 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  @include mq() {
    justify-content: center;
  }
  a {
    width: 32%;
    margin: 0 0 0 2%;
    @include mq() {
      width: vw(530);
      margin: vw(30) 0 0 0;
    }
    &:first-child {
      margin: 0;
      @include mq() {
      }
    }
    &.not-link {
      display: block;
      padding: 24px 0;
      background-color: #f1f8fe;
      border-radius: 100vh;
      color: $sub1;
      font-size: 1.7rem;
      font-weight: 700;
      text-align: center;
      pointer-events: none;
      @include mq() {
        width: vw(530);
        padding: vw(37) 0;
        font-size: vw(26);
      }
    }
  }
}

.btn_wrap05 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include mq() {
    width: vw(530);
    margin: 0 auto;
  }
  a {
    width: 19.2%;
    margin-left: 1%;
    @include mq() {
      width: 49.056603773584904%;
      margin-left: 1.8867924528301887%;
    }
    &:nth-child(5n + 1) {
      margin-left: 0;
    }
    &:nth-child(odd) {
      @include mq() {
        margin-left: 0;
      }
    }
    &:nth-child(n + 3) {
      @include mq() {
        margin-top: 1.8867924528301887%;
      }
    }
    &:nth-child(n + 6) {
      margin-top: 10px;
      @include mq() {
        margin-top: 1.8867924528301887%;
      }
    }
  }
}

/* -----------------------------------------------------
	page_heading
----------------------------------------------------- */
.page_heading {
  width: 100%;
  height: auto;
  background-color: $sub1;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7.5px 50px;
  background-position: left top;
  @include mq() {
    background-position: center;
    padding: vw(14.5) vw(20) vw(14.5) vw(40);
  }
  &.policy {
    background-image: url("../img/policy/heading_bg.jpg");
  }
  .inner {
    max-width: 1326px;
    margin: 0 auto;
    h1 {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .text {
        color: #ffffff;
        font-size: 4.5rem;
        line-height: 1.14;
        font-weight: 700;
        font-feature-settings: "palt" 1;
        letter-spacing: 0.1em;
        @include mq() {
          width: vw(345);
          font-size: vw(42);
        }
        small {
          display: block;
          font-family: "Roboto Condensed", sans-serif;
          font-size: 56%;
          line-height: 1;
          margin: 0 0 20px 0;
          @include mq() {
            margin: 0 0 vw(30) 0;
          }
        }
      }
      picture {
        position: relative;
        display: block;
        width: 450px;
        height: 357px;
        clip-path: polygon(
          17.333333333333336% 0%,
          100% 0%,
          82.66666666666667% 100%,
          0% 100%
        );
        overflow: hidden;
        bottom: -40px;
        background-color: #fff;
        @include mq() {
          width: vw(345);
          height: vw(322);
          clip-path: polygon(
            20.869565217391305% 0%,
            100% 0%,
            79.13043478260869% 100%,
            0% 100%
          );
          bottom: vw(-44.5);
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          @include mq() {
          }
        }
      }
    }
  }
}

/* -----------------------------------------------------
	sitemap
----------------------------------------------------- */
.sitemap {
  &_box {
    &_l {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &_s {
      width: 48%;
      margin-bottom: 100px;
      p {
        color: $sub1;
        font-weight: 700;
      }
    }

    &_bottom {
      &_l {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &_s {
        width: 32%;
        p {
          color: $sub1;
          font-weight: 700;
        }
      }
    }
  }
}

/* -----------------------------------------------------
	page-top
----------------------------------------------------- */
#page-top {
  position: fixed;
  right: 15px;
  bottom: 30px;
  @include mq() {
    right: vw(30);
    bottom: vw(30);
  }
  &.fixed {
    position: absolute;
    top: -98px;
    @include mq() {
      top: vw(-110);
    }
  }
  a {
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 100vh;
    background-color: $sub1;
    border: solid 1px #fff;
    @include mq() {
      width: vw(80);
      height: vw(80);
    }
    span {
      display: block;
      font-size: 0;
      width: 100%;
      height: 100%;
      background-image: url("../img/page-top_arrow.svg");
      background-repeat: no-repeat;
      background-size: 30px auto;
      background-position: center center;
      @include mq() {
        background-size: vw(30) auto;
      }
    }
  }
}

/* -----------------------------------------------------
	footer
----------------------------------------------------- */
footer {
  position: relative;
  border-top: solid 1px #cccccc;
  padding: 24px 0 23px 0;
  @include mq() {
    padding: vw(60) 0;
  }
  .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 50px;
    @include mq() {
      padding: 0;
    }
    nav {
      @include mq() {
        width: 100%;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        @include mq() {
          justify-content: center;
        }
        li {
          margin-left: 12px;
          @include mq() {
            margin-left: vw(40);
          }
          a {
            position: relative;
            font-size: 1rem;
            font-weight: 700;
            @include mq() {
              font-size: vw(24);
            }
            &:before {
              content: "";
              display: block;
              width: 6px;
              height: 9px;
              background-image: url("../img/icon/arrow-r-01_black.svg");
              background-repeat: no-repeat;
              background-size: contain;
              background-position: left center;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              @include mq() {
                width: vw(12);
                height: vw(19);
              }
            }
            span {
              display: inline-block;
              padding: 0 0 0 12px;
              @include mq() {
                padding: 0 0 0 vw(24);
              }
            }
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    .sns {
      margin: 0 0 0 18px;
      @include mq() {
        width: 100%;
        margin: vw(58) 0 0 0;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        @include mq() {
          justify-content: center;
        }
        li {
          width: 30px;
          @include mq() {
            width: vw(76);
          }
          a {
            display: block;
          }
        }
      }
    }
    .copyright {
      font-size: 1rem;
      font-weight: 500;
      margin: 0 0 0 auto;
      @include mq() {
        width: 100%;
        text-align: center;
        margin: vw(67) 0 0 0;
        font-size: vw(18);
      }
    }
  }
}
