.page_products {
  padding-top: 0;
}
.page_products .sub-page_list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page_products .sub-page_list .block {
  margin-left: 0;
}
.page_products .sub-page_list .block:nth-child(2) {
  margin-top: 0;
}
.page_products .sub-page_list .block_01 a {
  background-image: url(../img/products/img2.png);
}
.page_products .sub-page_list .block_02 a {
  background-image: url(../img/products/img3.png);
}
.page_products .sub-page_list .block_03 a {
  background-image: url(../img/products/img4.png);
}
.page_products .sub-page_list .block_04 a {
  background-image: url(../img/products/img5.png);
}

.custom-made .img {
  margin-top: 50px;
}

.step {
  margin-top: 43px;
}
@media screen and (max-width: 768px) {
  .step {
    margin-top: 9.3333333333vw;
  }
}
.step ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .step ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.step ul li {
  width: calc(25% - 36px);
  position: relative;
}
@media screen and (max-width: 768px) {
  .step ul li {
    width: 90%;
    margin-bottom: 12vw;
  }
}
.step ul li::before {
  content: "";
  position: absolute;
  top: 117px;
  right: -30px;
  width: 17px;
  height: 44px;
  background-image: url(../img/products/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .step ul li::before {
    width: 4.5333333333vw;
    height: 11.7333333333vw;
    -webkit-transform: translateX(50%) rotate(90deg);
            transform: translateX(50%) rotate(90deg);
    top: unset;
    right: 50%;
    bottom: -12vw;
  }
}
@media screen and (max-width: 768px) {
  .step ul li:last-child {
    margin-bottom: 0;
  }
}
.step ul li:last-child::before {
  content: none;
}
.step ul li .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6px;
}
@media screen and (max-width: 768px) {
  .step ul li .text {
    margin-top: 1.6vw;
  }
}
.step ul li .text .num {
  color: #003798;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 3px solid #003798;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .step ul li .text .num {
    font-size: 4.8vw;
    border-bottom: 1.6vw solid #003798;
  }
}
.step ul li .text .num em {
  font-size: 1.5em;
  font-family: "din-2014", sans-serif;
}
.step ul li .text span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 12px;
}
@media screen and (max-width: 768px) {
  .step ul li .text span {
    font-size: 4.8vw;
    margin-left: 3.2vw;
  }
}

.benefits-of-choosing {
  background-color: #f1f8fe;
}
.benefits-of-choosing_btn {
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 768px) {
  .benefits-of-choosing .block-cnt {
    margin-top: 1vw !important;
  }
}/*# sourceMappingURL=products.css.map */