@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }
}

.sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .sp {
    display: block;
  }
}

.common_inner {
  max-width: 1000px;
  margin: 0 auto;
}

.common_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.common_title h2 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 9rem;
  color: #003798;
  font-family: "din-2014", sans-serif;
  font-weight: bold;
  line-height: 1;
  margin-right: 16px;
}
@media screen and (max-width: 768px) {
  .common_title h2 {
    font-size: 12.5333333333vw;
    margin-right: 2.6666666667vw;
  }
}
.common_title span {
  font-size: 2.2rem;
  font-weight: 600;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding-top: 68px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .common_title span {
    font-size: 3.2vw;
    padding-top: 10.6666666667vw;
  }
}
.common_title span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 58px;
  background-color: #222222;
}
@media screen and (max-width: 768px) {
  .common_title span::before {
    height: 8.2666666667vw;
  }
}

#page-top a {
  background-color: #13346e;
}
#page-top a span {
  display: block;
  font-size: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/page-top_arrow.svg);
  background-image: url(../assets/img/page-top_arrow.svg);
  background-repeat: no-repeat;
  background-size: 24px auto;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  #page-top a span {
    background-size: 4vw auto;
  }
}

/* -----------------------------------------------------
	btn
----------------------------------------------------- */
.btn {
  position: relative;
  display: block;
  border-radius: 100vh;
  text-align: center;
  line-height: 1;
  width: 100%;
}
.btn span {
  display: inline-block;
  font-weight: 700;
}
.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.btn.type-01 {
  padding: 24px 0;
  background-color: #003798;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .btn.type-01 {
    padding: 4.9333333333vw 0;
  }
}
.btn.type-01 span {
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  .btn.type-01 span {
    font-size: 3.4666666667vw;
  }
}
.btn.type-01::after {
  width: 22px;
  height: 7px;
  right: 20px;
  background-image: url("../img/icon/arrow-r-02_white.svg");
}
@media screen and (max-width: 768px) {
  .btn.type-01::after {
    width: 4.4vw;
    height: 1.4666666667vw;
    right: 4vw;
  }
}
.btn.type-01:hover::after {
  right: 10px;
}
.btn.type-01.back::after {
  left: 20px;
  background-image: url("../img/icon/arrow-l-02_white.svg");
}
@media screen and (max-width: 768px) {
  .btn.type-01.back::after {
    left: 4vw;
  }
}
.btn.type-01.back:hover::after {
  left: 10px;
}
.btn.type-02 {
  padding: 24px 0;
  background-color: #fff;
  color: #003798;
}
@media screen and (max-width: 768px) {
  .btn.type-02 {
    padding: 4.9333333333vw 0;
  }
}
.btn.type-02 span {
  font-size: 1.7rem;
}
@media screen and (max-width: 768px) {
  .btn.type-02 span {
    font-size: 3.4666666667vw;
  }
}
.btn.type-02::after {
  width: 22px;
  height: 7px;
  right: 20px;
  background-image: url("../img/icon/arrow-r-02_blue.svg");
}
@media screen and (max-width: 768px) {
  .btn.type-02::after {
    width: 4.4vw;
    height: 1.4666666667vw;
    right: 4vw;
  }
}
.btn.type-02:hover::after {
  right: 10px;
}
.btn.type-02.back::after {
  left: 20px;
  background-image: url("../img/icon/arrow-l-02_blue.svg");
}
@media screen and (max-width: 768px) {
  .btn.type-02.back::after {
    left: 4vw;
  }
}
.btn.type-02.back:hover::after {
  left: 10px;
}
.btn.type-03 {
  padding: 7px 0;
  background-color: #003798;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .btn.type-03 {
    padding: 3.0666666667vw 0;
  }
}
.btn.type-03 span {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .btn.type-03 span {
    font-size: 2.9333333333vw;
  }
}
.btn.type-03::after {
  width: 7px;
  height: 12px;
  right: 10px;
  background-image: url("../img/icon/arrow-r-01_white.svg");
}
@media screen and (max-width: 768px) {
  .btn.type-03::after {
    width: 1.3333333333vw;
    height: 2.4vw;
    right: 2vw;
  }
}
.btn.type-04 {
  padding: 7px 0;
  background-color: #fff;
  color: #003798;
}
@media screen and (max-width: 768px) {
  .btn.type-04 {
    padding: 3.0666666667vw 0;
  }
}
.btn.type-04 span {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .btn.type-04 span {
    font-size: 2.9333333333vw;
  }
}
.btn.type-04::after {
  width: 7px;
  height: 12px;
  right: 10px;
  background-image: url("../img/icon/arrow-r-01_blue.svg");
}
@media screen and (max-width: 768px) {
  .btn.type-04::after {
    width: 1.3333333333vw;
    height: 2.4vw;
    right: 2vw;
  }
}
.btn.type-05 {
  padding: 14.5px 0;
  background-color: #003798;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .btn.type-05 {
    padding: 3.0666666667vw 0;
  }
}
.btn.type-05 span {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .btn.type-05 span {
    font-size: 2.9333333333vw;
  }
}
.btn.type-05::after {
  width: 17px;
  height: 5px;
  right: 20px;
  background-image: url("../img/icon/arrow-r-02_white.svg");
}
@media screen and (max-width: 768px) {
  .btn.type-05::after {
    width: 3.2vw;
    height: 1.0666666667vw;
    right: 4vw;
  }
}
.btn.type-05:hover::after {
  right: 10px;
}

/* btn_wrap
-------------------------*/
.btn_wrap01 {
  width: 340px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .btn_wrap01 {
    width: 70.6666666667vw;
  }
}

.btn_wrap02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn_wrap02 a {
  width: 320px;
  margin: 0 20px;
}
@media screen and (max-width: 768px) {
  .btn_wrap02 a {
    width: 70.6666666667vw;
    margin: 4vw 0 0 0;
  }
}
@media screen and (max-width: 768px) {
  .btn_wrap02 a:first-child {
    margin: 0;
  }
}

.btn_wrap03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 415px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .btn_wrap03 {
    max-width: 70.6666666667vw;
  }
}
.btn_wrap03 a {
  width: 48.1927710843%;
  margin-left: 15px;
}
@media screen and (max-width: 768px) {
  .btn_wrap03 a {
    width: 49.0566037736%;
    margin-left: 1.8867924528%;
  }
}
.btn_wrap03 a:nth-child(odd) {
  margin-left: 0;
}
.btn_wrap03 a:nth-child(n+3) {
  margin-top: 15px;
}
@media screen and (max-width: 768px) {
  .btn_wrap03 a:nth-child(n+3) {
    margin-top: 2vw;
  }
}

.btn_wrap04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .btn_wrap04 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.btn_wrap04 a {
  width: 32%;
  margin: 0 0 0 2%;
}
@media screen and (max-width: 768px) {
  .btn_wrap04 a {
    width: 70.6666666667vw;
    margin: 4vw 0 0 0;
  }
}
.btn_wrap04 a:first-child {
  margin: 0;
}
.btn_wrap04 a.not-link {
  display: block;
  padding: 24px 0;
  background-color: #f1f8fe;
  border-radius: 100vh;
  color: #003798;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .btn_wrap04 a.not-link {
    width: 70.6666666667vw;
    padding: 4.9333333333vw 0;
    font-size: 3.4666666667vw;
  }
}

.btn_wrap05 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .btn_wrap05 {
    width: 70.6666666667vw;
    margin: 0 auto;
  }
}
.btn_wrap05 a {
  width: 19.2%;
  margin-left: 1%;
}
@media screen and (max-width: 768px) {
  .btn_wrap05 a {
    width: 49.0566037736%;
    margin-left: 1.8867924528%;
  }
}
.btn_wrap05 a:nth-child(5n+1) {
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .btn_wrap05 a:nth-child(odd) {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .btn_wrap05 a:nth-child(n+3) {
    margin-top: 1.8867924528%;
  }
}
.btn_wrap05 a:nth-child(n+6) {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .btn_wrap05 a:nth-child(n+6) {
    margin-top: 1.8867924528%;
  }
}

@media screen and (max-width: 768px) {
  main section {
    padding-left: 4vw;
    padding-right: 4vw;
  }
}

/* -----------------------------------------------------
	recruit
----------------------------------------------------- */
.recruit_mv {
  margin-top: 38px;
  height: 895px;
  background-image: url(../img/recruit/recruit_bg.jpg);
  background-size: cover;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .recruit_mv {
    height: 500px;
  }
}
@media screen and (max-width: 768px) {
  .recruit_mv {
    height: 66.6666666667vw;
    background-image: url(../img/recruit/recruit_bg_sp.png);
  }
}
.recruit_mv_img {
  position: absolute;
  width: clamp(700px, 66vw, 1143px);
  top: 100px;
  right: 30px;
}
@media screen and (max-width: 1000px) {
  .recruit_mv_img {
    width: 540px;
  }
}
@media screen and (max-width: 768px) {
  .recruit_mv_img {
    width: 59.0666666667vw;
    top: 6.6666666667vw;
    right: 0;
  }
}
.recruit_mv_wrap {
  position: relative;
  height: 100%;
}
.recruit_mv_title {
  padding-top: 80px;
  max-width: 300px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (max-width: 1000px) {
  .recruit_mv_title {
    padding-top: 0;
    -webkit-transform: unset;
            transform: unset;
    width: 200px;
  }
}
@media screen and (max-width: 768px) {
  .recruit_mv_title {
    width: 46.6666666667vw;
  }
}

.recruit_content_top {
  position: relative;
}
.recruit_content_top::before {
  content: "";
  position: absolute;
  top: 15%;
  right: 0;
  width: 90vw;
  height: 1000px;
  z-index: -1;
  background-image: url(../img/recruit/blue_bg01.png);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1000px) {
  .recruit_content_top::before {
    top: 10%;
    height: 40%;
    width: calc(100vw + 200px);
  }
}
.recruit_content_bottom {
  position: relative;
  margin-top: 110px;
}
.recruit_content_bottom::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 90vw;
  height: 1000px;
  z-index: -1;
  background-image: url(../img/recruit/blue_bg02.png);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1000px) {
  .recruit_content_bottom::before {
    top: 33%;
    height: 60%;
    width: calc(100vw + 200px);
  }
}

.recruit_contents_box .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 110px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10.6666666667vw;
  }
}
.recruit_contents_box .block:first-child {
  margin-top: 0;
}
.recruit_contents_box .block:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.recruit_contents_box .block-img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block-img {
    width: 100%;
  }
}
.recruit_contents_box .block-img picture {
  width: 100%;
  height: 313px;
  -webkit-clip-path: polygon(15.2083333333% 0%, 100% 0%, 84.7916666667% 100%, 0% 100%);
          clip-path: polygon(15.2083333333% 0%, 100% 0%, 84.7916666667% 100%, 0% 100%);
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block-img picture {
    height: 56vw;
  }
}
.recruit_contents_box .block-img picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.recruit_contents_box .block-cnt {
  width: 50%;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block-cnt {
    width: 100%;
    padding: 0;
    margin: 4vw 0 0 0;
  }
}
.recruit_contents_box .block-cnt .num {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  color: #003798;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block-cnt .num {
    font-size: 5.0666666667vw;
    margin: 0 0 6vw 0;
  }
}
.recruit_contents_box .block-cnt .ttl {
  font-size: 2, 6rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block-cnt .ttl {
    font-size: 4.8vw;
    margin: 0 0 4vw 0;
  }
}
.recruit_contents_box .block-cnt .ttl span {
  color: #003798;
}
.recruit_contents_box .block-cnt p {
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block-cnt p {
    font-size: 3.4666666667vw;
  }
}
.recruit_contents_box.reverse .block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.recruit_contents_box .block_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 110px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block_2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10.6666666667vw;
  }
}
.recruit_contents_box .block_2:first-child {
  margin-top: 0;
}
.recruit_contents_box .block_2:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.recruit_contents_box .block_2-img {
  width: 50%;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block_2-img {
    width: 100%;
  }
}
.recruit_contents_box .block_2-img picture {
  width: 100%;
  height: 313px;
  -webkit-clip-path: polygon(15.2083333333% 0%, 100% 0%, 84.7916666667% 100%, 0% 100%);
          clip-path: polygon(15.2083333333% 0%, 100% 0%, 84.7916666667% 100%, 0% 100%);
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block_2-img picture {
    height: 56vw;
  }
}
.recruit_contents_box .block_2-img picture img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.recruit_contents_box .block_2-cnt {
  width: 50%;
  padding: 0 40px;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block_2-cnt {
    width: 100%;
    padding: 0;
    margin: 4vw 0 0 0;
  }
}
.recruit_contents_box .block_2-cnt .num {
  display: inline-block;
  font-size: 4rem;
  font-weight: 700;
  color: #003798;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block_2-cnt .num {
    font-size: 5.0666666667vw;
    margin: 0 0 6vw 0;
  }
}
.recruit_contents_box .block_2-cnt .ttl {
  font-size: 2, 6rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block_2-cnt .ttl {
    font-size: 4.8vw;
    margin: 0 0 4vw 0;
  }
}
.recruit_contents_box .block_2-cnt .ttl span {
  color: #003798;
}
.recruit_contents_box .block_2-cnt p {
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .recruit_contents_box .block_2-cnt p {
    font-size: 3.4666666667vw;
  }
}

.btn_mb {
  margin-bottom: 20px;
}

/* -----------------------------------------------------
	contact
----------------------------------------------------- */
#contact {
  background-image: url("../img/contact_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
#contact .ttl {
  width: 212px;
  margin: 0 auto 40px auto;
}
@media screen and (max-width: 768px) {
  #contact .ttl {
    width: 31.4666666667vw;
    margin: 0 auto 5.3333333333vw auto;
  }
}
#contact p {
  color: #ffffff;
  font-size: 1.7rem;
  line-height: 1.57;
  font-weight: 700;
  margin: 0 auto 40px auto;
}
@media screen and (max-width: 768px) {
  #contact p {
    font-size: 3.0666666667vw;
    margin: 0 auto 5.3333333333vw auto;
  }
}/*# sourceMappingURL=recruit.css.map */