@charset "utf-8";

$fontColor: #222222;
$sub1: #003798;
$break: 750;

//------------------------------------------------------------
//mediaquery
//------------------------------------------------------------
$breakpoints: (
  "sp": "screen and (max-width: 768px)",
  "pc": "screen and (min-width: 769px)",
) !default;

@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@function vw($px, $viewport: null) {
  @if $viewport == null {
    $viewport: $break;
  }
  @return $px / $viewport * 100vw;
}

.page_works {
  margin-top: 38px;
  @include mq() {
    margin-top: 0;
  }
  .head_box {
    display: flex;
    justify-content: space-between;
    @include mq() {
      flex-direction: column;
    }
    .head_category {
      .title {
        font-size: 20px;
        font-weight: bold;
        @include mq() {
          font-size: vw(30);
        }
      }
      ul {
        display: flex;
        margin-top: 16px;
        @include mq() {
          margin-top: vw(20);
          flex-wrap: wrap;
        }
        li {
          width: 162px;
          @include mq() {
            width: vw(215);
            &:first-child, &:nth-child(2), &:nth-child(3){
              margin-bottom: vw(20);
            }
          }
          &.current {
            a {
              color: #003798;
              border-bottom: 3px solid #003798;
              @include mq() {
                border-bottom: vw(3) solid #003798;
              }
            }
          }
          a {
            display: block;
            text-align: center;
            padding-bottom: 14px;
            font-size: 16px;
            font-weight: bold;
            @include mq() {
              padding: 0 vw(13);
              padding-bottom: vw(8);
              font-size: vw(26);
            }
          }
        }
      }
    }
    .head_year {
      width: 158px;
      position: relative;
      @include mq() {
        width: 100%;
        margin-top: vw(22);
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        @include mq() {
          font-size: vw(30);
        }
      }
      .head_year_btn {
        font-size: 16px;
        font-weight: bold;
        margin-top: 16px;
        position: relative;
        @include mq() {
          font-size: vw(26);
          margin-top: vw(14);
        }
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 16px;
          transform: translateY(-50%);
          width: 14px;
          height: 8px;
          background-image: url(../img/works/arrow02.png);
          background-repeat: no-repeat;
          background-size: contain;
          @include mq() {
            right: vw(20);
            width: vw(14);
            height: vw(8);
          }
        }
      }
      .head_year_list {
        margin-top: 10px;
        display: none;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        @include mq() {
          margin-top: vw(10);
          top: vw(100);
        }
        li {
          &.current {
            a {
              color: #003798;
            }
          }
          a {
            display: block;
            font-size: 16px;
            font-weight: bold;
            padding: 12px 20px;
            background-color: #f1f8fe;
            position: relative;
            &::after{
              content: '年';
            }
          }
        }
      }
    }
  }

  .works_archive {
    margin-top: 32px;
    @include mq() {
      margin-top: vw(18);
    }
    &_list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include mq() {
        flex-direction: column;
      }
      li {
        width: calc(33.3333% - 10px);
        margin-top: 40px;
        @include mq() {
          width: 100%;
          margin-top: vw(40);
        }
        &:first-child {
          margin-top: 0;
        }
        &:nth-child(2) {
          margin-top: 0;
          @include mq() {
            margin-top: vw(40);
          }
        }
        &:nth-child(3) {
          margin-top: 0;
          @include mq() {
            margin-top: vw(40);
          }
        }
        .thumbnail {
          height: 205px;
          @include mq() {
            height: vw(414);
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .box {
          padding: 18px;
          background-color: #f1f8fe;
          position: relative;
          @include mq() {
            padding: vw(30);
          }
          .arrow {
            width: 46px;
            height: 46px;
            position: absolute;
            bottom: 18px;
            right: 18px;
            @include mq() {
              width: vw(55);
              height: vw(55);
              bottom: vw(30);
              right: vw(30);
            }
          }
          .tag-category {
            display: inline-block;
            padding: 6px 10px;
            font-size: 14px;
            color: #fff;
            border-radius: 3px;
            @include mq() {
              padding: vw(4) vw(14) vw(6);
              font-size: vw(20);
              border-radius: vw(6);
            }
            &-01 {
              background-color: #0060d7;
            }
            &-02 {
              background-color: #00aaf7;
            }
            &-03 {
              background-color: #2a129c;
            }
          }
          .title {
            font-size: 20px;
            font-weight: bold;
            line-height: 1.5;
            margin-top: 14px;
            @include mq() {
              font-size: vw(38);
              margin-top: vw(14);
            }
          }
          .text {
            font-size: 16px;
            line-height: 1.3;
            margin-top: 12px;
            @include mq() {
              font-size: vw(26);
              margin-top: vw(12);
            }
          }
          .year {
            font-size: 15px;
            color: #d2d7db;
            margin-top: 40px;
            display: inline-block;
            @include mq() {
              font-size: vw(21);
              margin-top: vw(50);
            }
          }
        }
      }
    }
    .pager {
      margin-top: 80px;
      @include mq() {
        margin-top: vw(60);
      }
      &_inner {
        ul {
          display: flex;
          justify-content: center;
          li {
            margin-right: 4px;
            @include mq() {
              margin-right: vw(7);
            }
            &:first-child {
              margin-left: 4px;
              @include mq() {
                margin-left: vw(7);
              }
            }
            &.next {
              margin-left: 25px;
              @include mq() {
                margin-left: vw(37);
              }
            }
            &.prev {
              margin-right: 25px;
              @include mq() {
                margin-right: vw(37);
              }
            }
            &.current {
              a {
                color: #fff;
                background-color: #003798;
              }
            }
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              font-weight: bold;
              background-color: #f1f8fe;
              @include mq() {
                width: vw(58);
                height: vw(58);
                font-size: vw(24);
              }
            }
          }
        }
      }
    }
  }

  .wp-pagenavi{
    display: flex;
    justify-content: center;
    align-items: center;
    a,span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      font-weight: bold;
      border: unset;
      @include mq() {
        width: vw(58);
        height: vw(58);
        font-size: vw(24);
      }
    }
    a.page, a.nextpostslink, a.previouspostslink{
      background-color: #f1f8fe;
    }
    a.previouspostslink{
      margin-right: 25px;
      @include mq() {
        margin-right: vw(37);
      }
    }
    a.nextpostslink{
      margin-left: 25px;
      @include mq() {
        margin-left: vw(37);
      }
    }
    span.current{
      color: #fff;
      background-color: #003798;
    }
  }

  .works_detail {
    margin-top: 32px;
    @include mq() {
      margin-top: vw(18);
    }
    .works_detail_title {
      h2 {
        font-size: 26px;
        font-weight: bold;
        line-height: 1.5;
        @include mq() {
          font-size: vw(40);
        }
      }
      .tag-box {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        @include mq() {
          margin-top: vw(10);
        }
        .date {
          font-size: 16px;
          @include mq() {
            font-size: vw(26);
          }
        }
        .tag {
          display: inline-block;
          height: fit-content;
          padding: 4px 12px;
          font-size: 14px;
          color: #fff;
          border-radius: 3px;
          @include mq() {
            padding: vw(4) vw(14) vw(6);
            font-size: vw(20);
            border-radius: vw(6);
          }
          &-01 {
            background-color: #0060d7;
          }
          &-02 {
            background-color: #00aaf7;
          }
          &-03 {
            background-color: #2a129c;
          }
        }
      }
    }
    .works_detail_thumbnail {
      margin-top: 23px;
      @include mq() {
        margin-top: vw(30);
      }
      img {
        width: 100%;
      }
      p {
        line-height: 1.625;
        margin-top: 20px;
        @include mq() {
          margin-top: vw(30);
          font-size: vw(26);
        }
      }
    }
    .col2 {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      @include mq() {
        display: block;
        margin-top: vw(30);
      }
      div {
        width: 49%;
        @include mq() {
          width: 100%;
        }
        + div {
          @include mq() {
            margin-top: vw(30);
          }
        }
      }
    }
    .works_detail_head {
      padding-bottom: 16px;
      border-bottom: 2px solid #003798;
      @include mq() {
        padding-bottom: vw(18);
        border-bottom: vw(3) solid #003798;
      }
      h3 {
        font-size: 24px;
        font-weight: bold;
        color: #003798;
        @include mq() {
          font-size: vw(34);
        }
      }
    }
    .works_detail_table {
      margin-top: 60px;
      @include mq() {
        margin-top: vw(80);
      }
      .table {
        .row {
          display: flex;
          padding: 26px 0;
          border-bottom: 1px solid #999999;
          line-height: 1.5;
          @include mq() {
            padding: vw(30) 0;
          }
          &:nth-child(even) {
            background-color: #fafafa;
          }
          .title {
            width: 200px;
            padding-left: 40px;
            font-weight: bold;
            @include mq() {
              width: 30%;
              padding-left: vw(30);
              font-size: vw(26);
            }
          }
          .text {
            padding-right: 26px;
            @include mq() {
              width: 70%;
              padding-right: vw(30);
              font-size: vw(26);
            }
          }
        }
      }
    }
    .works_detail_comment {
      margin-top: 60px;
      @include mq() {
        margin-top: vw(80);
      }
      p {
        line-height: 1.625;
        margin-top: 20px;
        @include mq() {
          margin-top: vw(30);
          font-size: vw(26);
        }
      }
      .movie {
        margin-top: 60px;
        @include mq() {
          margin-top: vw(80);
        }
        iframe {
          width: 100%;
          height: 100%;
          aspect-ratio: 3/2;
        }
      }
      .btn_wrap01 {
        margin-top: 70px;
        @include mq() {
          margin-top: vw(90);
        }
      }
    }
  }
}
